.consulta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 6rem;
  height: 80vh;
}
h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 1em;
}
p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 1em;
}
.container-texto {
  max-width: 600px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
label {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0.5em;
}
input {
  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #624256;
  border-radius: 4px;
}
input::placeholder {
  color: #624256;
  font-size: 14px;
}
.botao-consulta {
  margin-top: 1em;
  padding: 1em 2em;
  background: transparent;
  border-radius: 16px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.botao-consulta:hover {
  background-color: #624256;
  color: #fff;
}
.botao-inativo {
  opacity: 0.5;
  cursor: not-allowed;
  color: #624256;
}
.error {
  font-size: 16px;
  color: red;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .consulta {
    grid-template-columns: 1fr;
    padding: 2em;
  }
  form {
    margin: 0;
  }
  .container-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
  .botao-consulta {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .consulta {
    padding: 1em;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  input {
    max-width: 200px;
  }
  .botao-consulta {
    padding: 0.5em 1em;
  }
}
