.botao-whatsapp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}

.botao-whatsapp img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.botao-instagram {
  position: fixed;
  bottom: 70px;
  right: 5px;
  z-index: 9999;
}
.botao-instagram img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .botao-whatsapp img {
    width: 40px;
    height: 40px;
  }
  .botao-instagram img {
    width: 40px;
    height: 40px;
  }
  .botao-instagram {
    bottom: 50px;
    margin-right: 1px;
  }
}
