<app-cabecalho></app-cabecalho>
<app-container>
  <section class="sobremim sobremim-topo">
    <div>
      <h1>Sobre mim</h1>
      <p>
        Me chamo Natália de Jesus, sou enfermeira, com especialização em
        Obstetrícia e Ginecologia pela renomada Faculdade Albert Einstein, além
        de formações em Estética Avançada e Ozonioterapia. Minha missão é
        promover um cuidado que vá além do tratamento clínico, um cuidado que
        acolhe, previne, trata e transforma. Acredito que a verdadeira saúde
        está no equilíbrio entre corpo, mente e emoções. Por isso, meu trabalho
        é pautado no compromisso com a vida, com o bem-estar e com o olhar
        humano para cada paciente. Atuo com responsabilidade, ética e escuta
        ativa, entendendo que cada pessoa carrega uma história única que merece
        ser respeitada e valorizada. Mais do que cuidar de sintomas, escolhi me
        dedicar a um atendimento que promove saúde com consciência, leveza e
        empatia. E é justamente essa essência que busco refletir em cada
        atendimento que realizo.
      </p>
    </div>
    <div>
      <img src="/assets/perfil_1.png" alt="" />
    </div></section
></app-container>
<section class="sobremim sobremim-baixo">
  <div></div>
  <div></div>
</section>

<app-rodape></app-rodape>
