<app-cabecalho></app-cabecalho>
<app-container classeCustomizada="esquerda centralizada">
  <section class="bursite">
    <div class="texto">
      <img class="ozonioterapia-img" src="/assets/ozonioterapia.png" alt="" />
      <h1>Tratamento para Bursite</h1>
      <h2>
        Você sabia? A Ozonioterapia é uma aliada no tratamento da bursite,
        ajudando a reduzir dor e inflamação!
      </h2>
    </div>
    <div class="imagem">
      <img class="bursite-img" src="/assets/bursite.png" alt="" />
    </div>
  </section>
</app-container>
<app-separador></app-separador>
<app-container classeCustomizada="centralizada direita">
  <section class="tendinite">
    <div class="imagem">
      <img class="tendinite-img" src="/assets/tendinite.png" alt="" />
    </div>
    <div class="texto">
      <img class="ozonioterapia-img" src="/assets/ozonioterapia.png" alt="" />
      <h3>Tratamento para Tendinite</h3>
      <h4>
        Sente dor no ombro ao levantar o braço? Pode ser tendinite! A
        Ozonioterapia é um tratamento natural que ajuda a aliviar a dor e
        recuperar os movimentos. Agende sua avaliação!
      </h4>
    </div>
  </section>
</app-container>
<app-rodape></app-rodape>
<app-iconebotao></app-iconebotao>
