<app-cabecalho></app-cabecalho>
<section class="principal">
  <div class="imagem">
    <img src="/assets/perfil_2.png" alt="Imagem da Doutora Natália de Jesus" />
  </div>
  <div class="texto">
    <h1>Seja bem vindo(a)!</h1>
    <p>
      Cuidando da sua saúde com carinho e inovação. Conheça os benefícios da
      ozonioterapia: uma abordagem moderna que pode transformar o tratamento de
      dores crônicas, fortalecer o sistema imunológico e auxiliar no processo de
      emagrecimento, promovendo mais qualidade de vida e bem-estar.
    </p>
  </div>
</section>
