<section class="agendamento" id="contato">
  <div class="contato-e-horarios">
    <div class="contatos">
      <h2>Contatos:</h2>
      <div class="redes-sociais">
        <div class="linha">
          <img class="icon" src="assets/iconewpp.png" alt="WhatsApp" />
          <p>(12) 99999-9999</p>
        </div>
        <div class="linha">
          <img class="icon" src="assets/iconeinst.png" alt="Instagram" />
          <a href="https://www.instagram.com/nataliadejesuss_/"
            >&#64;nataliadejesuss_</a
          >
        </div>
      </div>
    </div>
    <div class="horarios">
      <h2>Horários de funcionamento:</h2>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Segunda-feira - Sexta-feira <br />09:00 - 18:00</p>
      </div>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Sábado <br />09:00 - 12:00</p>
      </div>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Domingo <br />(Fechado)</p>
      </div>
    </div>
  </div>
</section>
