<section class="agendamento" id="contato">
  <h1>Quer agendar uma sessão?</h1>
  <h2>
    Entre em contato com a gente: (12) 99999-9999 <br />
    Estamos prontos para cuidar de você!
  </h2>

  <div class="contato-e-horarios">
    <div class="contatos">
      <h2>Contatos:</h2>
      <div class="redes-sociais">
        <div class="linha">
          <img src="assets/whatsapp.png" alt="WhatsApp" />
          <p>(12) 99999-9999</p>
        </div>
        <div class="linha">
          <img src="assets/instagram.png" alt="Instagram" />
          <p>&#64;nataliadejesuss_</p>
        </div>
        <div class="linha">
          <img src="assets/email.png" alt="Email" />
          <p>E-mail: name&#64;example.com</p>
        </div>
      </div>
    </div>
    <div class="horarios">
      <h2>Horários de funcionamento:</h2>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Segunda-feira - Sexta-feira <br />09:00 - 18:00</p>
      </div>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Sábado <br />09:00 - 12:00</p>
      </div>
      <div class="linha">
        <img src="assets/relogio.png" alt="Relógio" />
        <p>Domingo <br />(Fechado)</p>
      </div>
    </div>
  </div>
</section>
