<app-cabecalho></app-cabecalho>
<div class="card">
  <app-container classeCustomizada="esquerda centralizada">
    <h1>Bioestimulador de Colágeno</h1>
    <div class="card-conteudo">
      <div>
        <ul>
          <li>Estimula a produção natural de colágeno</li>
          <li>Melhora firmeza e elasticidade da pele</li>
          <li>Reduz flacidez facial</li>
        </ul>
      </div>
      <div>
        <img
          class="imagem"
          src="/assets/img-2.png"
          alt="imagem sobre Bioestimulador"
        />
      </div>
    </div>
  </app-container>
</div>
<app-iconebotao></app-iconebotao>
<app-rodape></app-rodape>
