<app-cabecalho></app-cabecalho>
<div class="card">
  <app-container classeCustomizada="esquerda centralizada">
    <h1>Design de Sobrancelhas</h1>
    <div class="card-conteudo">
      <div>
        <ul>
          <li>Harmoniza o olhar e valoriza o rosto</li>
          <li>Corrige falhas e assimetrias</li>
          <li>Proporciona definição natural</li>
          <li>Personalizado de acordo com o formato do rosto</li>
          <li>Resultado elegante e sofisticado</li>
        </ul>
      </div>
      <div>
        <img src="" alt="imagem sobre design de sobrancelha" />
      </div>
    </div>
  </app-container>
</div>
<app-iconebotao></app-iconebotao>
<app-rodape></app-rodape>
