<app-cabecalho></app-cabecalho>
<div class="card">
  <app-container classeCustomizada="esquerda centralizada">
    <h1>Toxina Botulínica (Botox)</h1>
    <div class="card-conteudo">
      <div>
        <ul>
          <li>Suaviza rugas e linhas de expressão</li>
          <li>Melhora o aspecto do olhar e do sorriso</li>
        </ul>
      </div>
      <div>
        <img class="imagem" src="/assets/img-1.png" alt="imagem sobre Botox" />
      </div>
    </div>
  </app-container>
</div>
<app-iconebotao></app-iconebotao>
<app-rodape></app-rodape>
