<app-cabecalho></app-cabecalho>
<div class="card">
  <app-container classeCustomizada="esquerda centralizada">
    <h1>Extensão de Cílios</h1>
    <div class="card-conteudo">
      <div>
        <ul>
          <li>Realça o olhar com naturalidade e elegância</li>
          <li>Técnicas personalizadas (clássica, híbrida, volume russo)</li>
          <li>Fios leves e confortáveis, que não agridem os cílios naturais</li>
        </ul>
      </div>
      <div>
        <img
          class="imagem"
          src="/assets/img-4.png"
          alt="imagem sobre Extensão de cílios"
        />
      </div>
    </div>
  </app-container>
</div>
<app-iconebotao></app-iconebotao>
<app-rodape></app-rodape>
