<nav>
  <div>
    <img src="/assets/Screenshot_1.png" alt="" />
  </div>
  <div class="lista-nav">
    <ul>
      <li>
        <button [routerLink]="rotaAtual === '/sobre-mim' ? '' : '/sobre-mim'">
          {{ rotaAtual === "/sobre-mim" ? "Início" : "Sobre mim" }}
        </button>
      </li>
    </ul>
    <ul>
      <li>
        <button class="botao-procedimentos">Procedimentos</button>
      </li>
    </ul>
    <ul>
      <li><button>Contato</button></li>
    </ul>
  </div>
  <div>
    <input type="text" placeholder="Pesquisar" />
  </div>
</nav>
<app-separador></app-separador>
