<nav>
  <div>
    <img src="/assets/logo.png" alt="" />
  </div>
  <div>
    <ul class="lista-nav">
      @if (mostrarBotaoVoltar()) {
      <li>
        <button routerLink="/" class="botao-cabecalho">Início</button>
      </li>
      }
      <li>
        <button class="botao-cabecalho" [routerLink]="linkDoBotao()">
          {{ nomeDoBotao() }}
        </button>
      </li>

      <li class="submenu-container">
        <button
          class="botao-procedimentos botao-cabecalho"
          (click)="alternarSubmenu()"
        >
          Procedimentos
        </button>
        @if(mostrarSubmenu()){
        <ul class="submenu">
          <li>
            <button routerLink="/botox">
              Toxina Botulínica <br />
              ( Botox )
            </button>
          </li>
          <li><button routerLink="/preenchimento">Preenchimento</button></li>
          <li>
            <button routerLink="/bioestimulador">
              Bioestimulador de Colágeno
            </button>
          </li>
          <li>
            <button routerLink="/limpeza-de-pele">
              Limpeza de Pele <br />
              ( Cross Peel )
            </button>
          </li>
          <li>
            <button routerLink="/sobrancelha">Design de sobrancelha</button>
          </li>
          <li>
            <button routerLink="/cilios">Extensão de Cílios</button>
          </li>
          <li>
            <button routerLink="/ozonioterapia">
              Alívio da dor <br />
              ( Ozonioterapia )
            </button>
          </li>
        </ul>
        }
      </li>

      <li>
        <button (click)="redirecionarParaContato()" class="botao-cabecalho">
          Contato
        </button>
      </li>
    </ul>
  </div>
</nav>
<app-separador></app-separador>
