nav {
  background-color: #bd96ae;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1em 5em;
}

nav div img {
  width: 300px;
  height: 150px;
}

.lista-nav {
  display: grid;
  grid-auto-flow: column;
  gap: 4em;
}

.lista-nav ul {
  list-style-type: none;
}

button {
  border: 1px solid #8f647e;
  padding: 8px;
  border-radius: 16px;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: #8f647e;
  transition: 0.3s ease-in-out;
  color: #bd96ae;
}

nav > div:last-child {
  display: flex;
  justify-content: flex-end;
}

input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #8f647e;
  border-radius: 16px;
  background: transparent;
  color: #fff;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}
