.principal {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-items: center;
  justify-content: center;
  padding: 0 20rem;
  width: 100%;
  margin: 0 auto;
  height: 70vh;
  background-color: #624256;
}

.imagem img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 1rem;
}
p {
  color: #ffffff;
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
}
app-container .container {
  margin: 0 auto;
}
.ozonioterapia-container p {
  margin: 2em 1em;
}
.ozonioterapia-container h1 {
  margin: 0 1em;
}
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tratamento-doenca-container {
  margin: 3em 2em;
  text-align: center;
}
.beneficios {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.beneficios ul {
  list-style: none;
}
.beneficios h2 {
  margin: 1em 0;
  color: #ffffff;
  font-size: 32px;
}
.beneficios p {
  font-size: 24px;
  margin: 1em 0;
  font-weight: 500;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.card {
  animation: appear linear;
  animation-timeline: view(0%);
  animation-range: entry 0 cover 50%;
}

@media screen and (max-width: 1400px) {
  .principal {
    height: 50vh;
  }
  .texto h1 {
    font-size: 24px;
  }
  .texto p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .principal {
    grid-template-columns: 1fr;
    padding: 2rem;
    text-align: center;
    height: 70vh;
  }
  .principal h1 {
    font-size: 32px;
  }
  .principal p {
    font-size: 20px;
  }

  .imagem img {
    max-width: 300px;
    margin: 0 auto;
  }

  .titulo h1,
  .beneficios h2 {
    font-size: 28px;
  }

  .beneficios p {
    font-size: 18px;
  }
  .ozonioterapia-container {
    text-align: center;
    padding: 0 1em;
  }
}

@media screen and (max-width: 600px) {
  .principal {
    height: 85vh;
  }
  .imagem img {
    max-width: 250px;
  }

  .principal {
    padding: 1rem 3rem;
  }
  .principal p {
    font-size: 16px;
  }
  .beneficios p {
    font-size: 14px;
  }
  .beneficios h2 {
    font-size: 24px;
  }
  .beneficios {
    padding: 1em 2em;
  }
  .ozonioterapia-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ozonioterapia-container h1 {
    font-size: 20px;
  }
  .ozonioterapia-container p {
    font-size: 14px;
    padding: 0 1em;
  }
  .ozonioterapia-container img {
    max-width: 350px;
  }
  .tratamento-doenca-container h1 {
    font-size: 20px;
  }
  .tratamento-doenca-container p {
    font-size: 14px;
  }
}
