.principal {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-items: center;
  justify-content: center; /* Isso alinha as colunas dentro do container */
  height: 60vh;
  padding: 4rem;
}
.imagem img {
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 1rem;
}
p {
  color: #ffffff;
  font-size: 20px;
  line-height: 200%;
}
