<app-cabecalho></app-cabecalho>
<div class="card">
  <app-container classeCustomizada="esquerda centralizada">
    <h1>Preenchimentos Faciais</h1>
    <div class="card-conteudo">
      <div>
        <ul>
          <li>Restaura volume e contornos faciais</li>
          <li>Suaviza rugas e linhas de expressão</li>
          <li>Corrige olheiras profundas</li>
          <li>Harmoniza lábios</li>
        </ul>
      </div>
      <div>
        <img
          class="imagem"
          src="/assets/preenchimento.png"
          alt="Imagem de um rosto"
        />
      </div>
    </div>
  </app-container>
</div>
<app-iconebotao></app-iconebotao>
<app-rodape></app-rodape>
